.root {
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin: 0 auto;
    max-width: 1280px;
}

.text {
    color: #ffffff;
}

.link:hover {
    opacity: 0.8;
}