/* ----------- */
.cover {
    margin: 0 auto;
    background-image: url(../../images/1280/__backgroundL.jpg);
    max-width: 1184px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        background-image: url(../../images/1024/__backgroundM.jpg);
    }

}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        background-image: url(../../images/768/__backgroundS.jpg);
    }

}

@media screen and (max-width: 767px) {
    .cover {
        min-width: 320px;
        background-image: url(../../images/320/__backgroundXS.jpg);
    }

}