/* ----------- */

.footer {
    padding: 92px 48px 24px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.footer__menu {
    /* margin: 0; */
}

.footer__links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 1184px;
}

.footer__link-box {
    margin-right: 0 18px 0 0;
}

.footer__link-box:last-of-type {
    margin: 0;
}

.footer__link {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    text-decoration: none;
    font-style: none;
}

.footer__copyright {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    /* font-style: normal; */
}

@media screen and (max-width: 1279px) {
    .footer__links {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px;
    }

    .footer__links {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {

    .footer {
        flex-direction: column;
        padding: 64px 118px 24px 16px;
        ;
    }

    .footer__links {
        flex-direction: column;
        /* margin-bottom: 32px; */
    }

    .footer__link-box {
        margin-bottom: 32px;
    }

    .footer__link-box:last-of-type {
        margin: 0 0 48px;
    }

    .footer__link {
        font-size: 24px;
        line-height: 1.0;
    }

    .footer__copyright {
        line-height: 1.0;
    }
}


/* -----gues what------ */